@use "../../styles/variables" as *;

.key {
    width: 100%;
    height: rem(40);

    @media (max-width: 600px) {
        height: rem(34);
        padding: rem(4);
        font-size: 0.8rem;
    }
    opacity: 1;
    border-width: 1px;
    padding: rem(6);
    font-weight: 600;
    background-color: var(--color-key-default);
    --bs-btn-hover-bg: color-mix(in srgb, var(--color-key-default) 80%, black);
    --bs-btn-hover-border-color: transparent;
    text-transform: uppercase;

    &.correct {
        color: var(--color-key-text-correct);
        background-color: var(--color-key-correct);
        --bs-btn-hover-bg: color-mix(in srgb, var(--color-key-correct) 80%, black);
    }
    &.wrong {
        color: var(--color-key-text-wrong);
        background-color: var(--color-key-wrong);
        --bs-btn-hover-bg: color-mix(in srgb, var(--color-key-wrong) 80%, black);
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        color: var(--text-h);
    }
}
