@use "../../styles/variables" as *;

.keyboardContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-content: center;

    row-gap: rem(10);
    column-gap: rem(10);

    @media (max-width: 600px) {
        row-gap: rem(6);
        column-gap: rem(6);
    }
    > :nth-child(21) {
        grid-column-start: 3;
    }
}
