@use "../../styles/variables" as *;

.keyboardContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-content: center;

    row-gap: rem(10);
    column-gap: rem(10);
    > :nth-child(21) {
        grid-column-start: 3;
    }
}
