.header {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    height: 80px;
    box-shadow:
        0 1px 3px 0 var(--border),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.header > img {
    width: 50px;
}

.header > h1 {
    font-weight: 400;
}
